body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    font-family: "Playfair Display", serif;
    font-size: 3;
    text-align: center;
    color: #333;
    margin-top: 50px;
    /* margin-bottom: 50px; */
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /* height: calc(100vh - 300px); */
    overflow: hidden;
    gap: 20px;
}

.belowHeader{
    display: flex;
    justify-content: space-between;
}

#map {
    width: 50%;
    height: 100%;
    border-radius: 20px;
}

.sidebar {
    width: 50%;
}

.panel {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 600px;
}

.btn-group {
    margin-bottom: 5px;
}

.btn {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e0e0e0;
}

.active {
    background-color: #007bff;
    color: white;
}

.popup {
    max-height: 300px;
    overflow-y: auto;
}

.time-slider-container {
    margin-top: 20px; 
    padding: 10px;
}

.time-slider-container h4 {
    text-align: center; 
    margin-bottom: 30px; 
    font-size: 30px;
    font-weight: bold;
    color: #810909; 
}


#timeSlider {
    height: 20px;
    width: 90%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px; 
    margin-block-start: 10px;
    margin-block-end: 50px;
}

